.card{
    display:flex;
    flex-direction: row;

    .card-body{
        text-decoration: none;
        width: 80%;
    }
    
    .boton-cerrar{
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items:center;
        width:20%;
        i{
            cursor:pointer;
        }
    }
}

