<h2 class="mb-5 text-center">Mis notas</h2>

<div class="alert alert-primary mb-5" role="alert" *ngIf="notas.length == 0">
    Aún no has añadido notas
</div>

<div class="mb-3 justify-content-center d-flex align-items-center align-items-lg-start flex-column flex-lg-row" *ngIf="notas.length > 0">

    <div class="estado-abierto mb-4 mr-3">

      <h5 class="mb-3 text-center" style="width: 18rem;">Abiertas</h5>

      <div class="notas-abiertas mb-3" *ngFor="let nota of notas">
          <div class="card bg-primary text-white" style="width: 18rem;" *ngIf="nota.estado == 1">
            <a [routerLink]="['/actualizarNota']" routerLinkActive="router-link-active" class="card-body text-white">
              <h5 class="card-title">{{nota.titulo}}</h5>
              <p class="card-text">{{nota.descripcion}}</p>
            </a>
            <div class="boton-cerrar" (click)="eliminarNota(nota)"><i class="fas fa-times"></i></div>
          </div>
      </div>

    </div>
    
    <div class="estado-proceso mb-4 mr-3">

      <h5 class="mb-3 text-center" style="width: 18rem;">En Proceso</h5>

      <div class="notas-en-proceso mb-3" *ngFor="let nota of notas">

        <div class="card bg-warning text-body" style="width: 18rem;" *ngIf="nota.estado == 2">
            <a [routerLink]="['/actualizarNota']" routerLinkActive="router-link-active" class="card-body text-body">
              <h5 class="card-title">{{nota.titulo}}</h5>
              <p class="card-text">{{nota.descripcion}}</p>
            </a>
            <div class="boton-cerrar" (click)="eliminarNota(nota)"><i class="fas fa-times"></i></div>
        </div>

      </div>

    </div>
    
    <div class="estado-cerrado">

      <h5 class="mb-3 text-center" style="width: 18rem;">Cerradas</h5>

      <div class="notas-cerradas mb-3" *ngFor="let nota of notas">
    
        <div class="card bg-danger text-white" style="width: 18rem;" *ngIf="nota.estado == 3">
            <a [routerLink]="['/actualizarNota']" routerLinkActive="router-link-active" class="card-body text-white">
              <h5 class="card-title">{{nota.titulo}}</h5>
              <p class="card-text">{{nota.descripcion}}</p>
            </a>
            <div class="boton-cerrar" (click)="eliminarNota(nota)"><i class="fas fa-times"></i></div>
        </div>
        

      </div>

    </div>

</div>

<div class="d-flex justify-content-center">
  <a [routerLink]="['/']" routerLinkActive="router-link-active" class="btn btn-primary">Adicionar nueva nota</a>
</div>




  

